/bin/
/SeguimientoCompromisoLabores.jasper
/Evaluaciondelperiodo.jasper
/SeguimientoCompromisoLaboresTareas.jasper
/ConsolidadoControlPersonal.jasper
/ControlPersonal.jasper
/ConditonalFontColor.jasper
/prueba.jasper
